<?xml version="1.0"?>
<launch>
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="R" default="0" />
  <arg name="P" default="0" />
  <arg name="Y" default="0" />
  <arg name="baxter" default="false" />
  <arg name="xacro_file" default="'$(find mobility_base_description)/urdf/mobility_base.urdf.xacro' sim:=true baxter:=$(arg baxter)" />

  <group if="$(arg baxter)" >
    <param name="/robot_description" command="$(find xacro)/xacro.py $(arg xacro_file)" />
    <param name="rethink/software_version" value="1.1.0" />
    <include file="$(find baxter_sim_hardware)/launch/baxter_sdk_control.launch" />
  </group>

  <group ns="/mobility_base">

    <!-- Gazebo model spawner -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y) -unpause -urdf -param /mobility_base/robot_description -model mobility_base"/>

    <!-- Transforms -->
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg xacro_file)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>

  </group>

  <!-- Laser filter to remove legs from scan -->
  <include file="$(find mobility_base_bringup)/launch/birdcage_laser_pipeline.launch" >
    <arg name="ns" value="/laser_birdcage_r2000"/>
  </include>

</launch>
